@font-face {
  src: url("../fonts/Poppins-Regular.ttf") format('ttf'),
       url("../fonts/Poppins-Regular.eot") format('eot'),
       url("../fonts/Poppins-Regular.woff") format('woff'),
       url("../fonts/Poppins-Regular.woff2") format('woff2');
  font-weight: 400;
  font-family: Poppins;
}
@font-face {
  src: url("../fonts/Poppins-Medium.ttf") format('ttf'),
  url("../fonts/Poppins-Medium.eot") format('eot'),
  url("../fonts/Poppins-Medium.woff") format('woff'),
  url("../fonts/Poppins-Medium.woff2") format('woff2');
  font-weight: 500;
  font-family: Poppins;
}
@font-face {
  src: url("../fonts/Poppins-SemiBold.ttf") format('ttf'),
  url("../fonts/Poppins-SemiBold.eot") format('eot'),
  url("../fonts/Poppins-SemiBold.woff") format('woff'),
  url("../fonts/Poppins-SemiBold.woff2") format('woff2');
  font-weight: 600;
  font-family: Poppins;
}