@font-face {
  src: url("../fonts/Poppins-Regular.ttf") format("ttf"), url("../fonts/Poppins-Regular.eot") format("eot"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-family: Poppins;
}

@font-face {
  src: url("../fonts/Poppins-Medium.ttf") format("ttf"), url("../fonts/Poppins-Medium.eot") format("eot"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-family: Poppins;
}

@font-face {
  src: url("../fonts/Poppins-SemiBold.ttf") format("ttf"), url("../fonts/Poppins-SemiBold.eot") format("eot"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-family: Poppins;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, serif;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 36px 0;
}

.header .header__logo {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  margin-right: 30px;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header .header__navItem {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 48px;
}

.header .header__navLink {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #1D293F;
  cursor: pointer;
}

.header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header__acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-self: flex-end;
}

.header .header__login {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #1D293F;
  background-color: transparent;
  border: none;
  margin-right: 41px;
  cursor: pointer;
}

.header .header__sign-up {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background-color: #28B0A6;
  width: 104px;
  height: 48px;
  border-radius: 28px;
  border: none;
  cursor: pointer;
}

.burger {
  display: none;
  width: 40px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.burger .burger__line {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: black;
}

.burger .burger__line:nth-of-type(1) {
  top: 0;
  left: 0;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.burger .burger__line:nth-of-type(2) {
  top: calc(calc((32px - 4px*4) / 3) + 4px);
  left: 0;
  -webkit-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}

.burger .burger__line:nth-of-type(3) {
  top: calc(calc((32px - 4px*4) / 3)*2 + 4px*2);
  left: 0;
  -webkit-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}

.burger .burger__line:nth-of-type(4) {
  bottom: 0;
  left: 0;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.active ~ .header__menu {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
  padding: 20px;
  z-index: 2;
  background-color: #fff;
}

.active ~ .header__menu .header__nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 40vh;
}

.active .burger__line:nth-of-type(1) {
  top: 14px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.active .burger__line:nth-of-type(2) {
  opacity: 0;
  -webkit-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}

.active .burger__line:nth-of-type(3) {
  opacity: 0;
  -webkit-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}

.active .burger__line:nth-of-type(4) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  bottom: 14px;
}

.card-tour {
  width: 512px;
  height: 614px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(14, 86, 124, 0.16);
  box-shadow: 0px 2px 4px rgba(14, 86, 124, 0.16);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-tour__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
}

.card-tour__content--title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #1D293F;
}

.card-tour__content--text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #99A3AD;
}

.card-tour__content--price {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: #1D293F;
}

.card-tour__during {
  position: relative;
  margin-left: 34px;
}

.card-tour__during:before {
  content: url("/img/Duration.svg");
  position: absolute;
  top: 3px;
  left: -20px;
}

.startScreen .startScreen__block-img {
  position: relative;
}

.startScreen .startScreen__img-content {
  position: relative;
}

.startScreen .startScreen__slider {
  width: inherit;
  overflow: hidden;
}

.startScreen .startScreen__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
}

.startScreen .startScreen__slider-item {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 646px;
  border-radius: 32px;
}

.startScreen .startScreen__img-content__text {
  position: absolute;
  color: #fff;
  top: 152px;
  left: 136px;
  width: 1380px;
}

.startScreen .startScreen__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  max-width: 1328px;
  width: 100%;
  height: 174px;
  background-color: #fff;
  position: absolute;
  bottom: calc(-174px/2);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 16px;
  -webkit-box-shadow: 0 43px 66px rgba(0, 0, 0, 0.07);
  box-shadow: 0 43px 66px rgba(0, 0, 0, 0.07);
}

.startScreen .startScreen__panel__search {
  background: #28B0A6;
  border-radius: 16px;
  width: 112px;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border: none;
  cursor: pointer;
}

.startScreen .startScreen__panel__search:after {
  content: "Check Availability";
  bottom: -24px;
  min-width: 200%;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}

.startScreen .startScreen__panel__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #1D293F;
  -webkit-text-decoration: underline #d2a766;
  text-decoration: underline #d2a766;
}

.startScreen .startScreen__panel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.startScreen .startScreen__panel__item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #99A3AD;
  position: relative;
}

.startScreen .startScreen__panel__icon {
  position: absolute;
  right: -56px;
  bottom: 0;
}

.startScreen .startScreen__slider-nav {
  position: absolute;
  bottom: 146px;
  left: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 104px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.startScreen .startScreen__slider-btn {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}

.startScreen .startScreen__slider-btn:hover {
  background-color: #fff;
}

.startScreen .startScreen__slider-btn:hover svg path {
  fill: #000;
}

.startScreen .startScreen__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
  position: relative;
  padding-left: 40px;
}

.startScreen .startScreen__title:before {
  content: url("../img/lineHeaderTitle.svg");
  left: 0;
  top: -12px;
  position: absolute;
}

.startScreen .startScreen__name {
  font-size: 128px;
  font-weight: 700;
  line-height: 192px;
  color: #fff;
}

.info {
  margin-top: 238px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 55px;
  color: #1D293F;
  padding-left: 60px;
  border-left: 7px solid #000;
}

.info__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #546179;
  margin-top: 40px;
}

.tours {
  margin-top: 105px;
}

.tours__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 110px 32px;
}

@supports (-webkit-appearance:none) {

}

@media (max-width: 1024px) {
  .header .header__navLink {
    font-size: 18px;
  }

  .header .header__navItem {
    margin-right: 20px;
  }

  .header .header__login {
    margin-right: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 540px) {
  .header .header__menu {
    display: none;
    width: 100vw;
    height: 84vh;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .burger {
    display: block;
  }

@supports (-webkit-appearance:none) {

}
}