@import '../styles/global';

@import "lib/slider-tech/styles.scss";

@import '../chunk/header/header';
@import '../chunk/footer/footer';

@import '../components/cardTour/cardTour';
@import '../components/starsRating/StarsRating';
@import '../components/cardDest/cardDest';
@import '../styles/mediaQueries';

.startScreen {
  $height-panel: 174px;
  &__block-img{
    position: relative;
  }
  &__img-content {
    position: relative;
  }
  &__slider{
    width: inherit;
    overflow: hidden;

  }
  &__track {
    display: flex;
    position: relative;
    transition: 0.8s all;
  }
  &__slider-item {
    width: 100%;
    object-fit: cover;
    height: 646px;
    border-radius: 32px;
  }
  &__img-content__text {
      position: absolute;
      color: $white;
      top: 152px;
      left: 136px;
      width: 1380px;
    }
  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1328px;
    width: 100%;
    height: $height-panel;
    background-color: #fff;
    position: absolute;
    bottom: calc(#{-$height-panel}/2);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    box-shadow: 0 43px 66px rgba(0, 0, 0, 0.07);

    }
  &__panel__search {
    background: #28B0A6;
    border-radius: 16px;
    width: 112px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    cursor: pointer;
  }
  &__panel__search:hover {
    background: #61afa9;
  }
  &__panel__search:after {
    content: 'Check Availability';
    bottom: -24px;
    min-width: 200%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  &__panel__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

    color: $oxford;
    text-decoration: underline #d2a766;
  }
  &__panel__item {
    display: flex;
    flex-direction: column;
    position: relative;

    }
  &__panel__item-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #99A3AD;
    position: relative;
    }

  &__panel__icon{
    position: absolute;
    right: -56px;
    bottom: 0;
  }
  &__slider-nav {
    position: absolute;
    bottom: 146px;
    left: 134px;
    display: flex;
    width: 104px;
    align-items: center;
    justify-content: space-between;
  }
  &__slider-btn {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;

  }
  &__slider-btn:hover {
    background-color: #fff;
  }
  &__slider-btn:hover svg path{
    fill: #000;
  }
  &__slider-nav__btn-prev {

  }
  &__title {
    @include textStyles(24px, 400, 36px, #fff);
    position: relative;
    padding-left: 40px;
  }
  &__title:before {
    content: url("../img/lineHeaderTitle.svg");
    left: 0;
    top: -12px;
    position: absolute;
  }
  &__name {
    @include textStyles(128px, 700, 192px, #fff);
  }
  &__temp {

  }
}

// Section info

.info {
  margin-top: 238px;
  display: flex;
  flex-direction: column;

  &__title {
    @include textStyles(64px, 600, 55px, #1D293F);
    padding-left: 60px;
    border-left: 7px solid #000;
  }
  &__text {
    @include textStyles(24px, 400, 34px, #546179);
    margin-top: 40px;
  }

}


// Cards about tours

.tours {
  margin: 105px 0;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 110px 32px;
  }
}

// Destinations

.destinations {
    margin-top: 105px;
    &__title {
        @include textStyles(40px, 700, 60px, #1D293F);

    }
    &__text {
      @include textStyles(24px, 400, 36px, #546179);

    }
    &__cards {
      height: 702px;
      display: grid;
      gap: 32px;
      margin-top: 64px;
      grid-template-columns: 20% 30% 25% 25%;
      grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
      grid-template-areas: "card1 card3 card4 card4"
                           "card2 card3 card5 card6";
      }

}

// Guide

.guide {
  margin-top: 105px;
  &__sliderGuide {

  }
  &__sliderWrapper.wrapperSlider {
    width: $widthContainer;
  }
  &__sliderElem.elementSlider {
    width: 1296px;
    height: 670px;
    display: flex;
    justify-content: space-between;

  }
  &__navBtn--prev {

  }
  &__navBtn--next {
    transform: rotate(180deg);
  }
  &__navBtnElem img {
    cursor: pointer;
    width: 72px;
    height: 72px;
  }
  &__navigationSlider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
  }
}